html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
  }
  
  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;

  }

  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
nav {
    font-size: 1.5em;
    color: black;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

nav li a {
    text-decoration: none;
    display: inline-block;
    color:#1d3124;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
    margin: 0 auto;

}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    border: 1px solid gray;
    background-color: ghostwhite;
    padding-right: 25px;
    padding-left: 250px;

}

h1 {
    font-size: 2.75em;
    font-family: 'Playfair Display', serif;
    color: rgb(20, 47, 168);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  margin: 0 auto;
  padding-left: 0 20px;
  text-align: left;
}

form {
  background-color: #2F4550;
  color: ghostwhite;
  margin: 0 auto;
  max-width: 100%;
  border: 1px solid black;
}

form label{
  color: #fff;
}

input {
  border: 1px solid black;
}



#about {
    background-color: #2F4550;
    color: ghostwhite;
    width: 100%;
    display: block;
    margin: 0 auto;
}
#about h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5px;
}
#about img {
  padding-top: 50px;
  padding-bottom: 25px;
  max-width: 100%;
}
#projects {
    background-color: ghostwhite;
    color: #2F4550;
    width: 100%;
    display: block;
    margin: 0 auto;
}
#skills {
    background-color: #2F4550;
    color: ghostwhite;
    width: 100%;
    display: block;
    margin: 0 auto;
}
#skills img {
  max-width: 200px;
}
#testimonials {
    background-color: ghostwhite;
    color: #2F4550;
    width: 100%;
    display: block;
    margin: 0 auto;
}
#contact {
    background-color: #2F4550;
    color: ghostwhite;
    width: 100%;
    display: block;
    margin: 0 auto;
}
#Footer {
  background-color: ghostwhite;
  color: #2F4550;
}
#Footer p {
 text-align: center;
}
